name: CI

on:
  push:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit-tests:
    name: "WP ${{ matrix.config.wp }}, multisite: ${{ matrix.config.ms }}, PHP: ${{ matrix.config.php }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - { wp: latest,  ms: 'no',  php: '8.1', phpunit: 9, coverage: 'yes' }
          - { wp: nightly, ms: 'no',  php: '8.1', phpunit: 9, coverage: 'yes' }
          - { wp: latest,  ms: 'yes', php: '8.1', phpunit: 9, coverage: 'yes' }
          - { wp: nightly, ms: 'yes', php: '8.1', phpunit: 9, coverage: 'yes' }

          - { wp: latest,  ms: 'no',  php: '8.2', phpunit: 9, coverage: 'no' }
          - { wp: nightly, ms: 'no',  php: '8.2', phpunit: 9, coverage: 'no' }
          - { wp: latest,  ms: 'yes', php: '8.2', phpunit: 9, coverage: 'no' }
          - { wp: nightly, ms: 'yes', php: '8.2', phpunit: 9, coverage: 'no' }

          - { wp: latest,  ms: 'no',  php: '8.3', phpunit: 9, coverage: 'no' }
          - { wp: nightly, ms: 'no',  php: '8.3', phpunit: 9, coverage: 'no' }
          - { wp: latest,  ms: 'yes', php: '8.3', phpunit: 9, coverage: 'no' }
          - { wp: nightly, ms: 'yes', php: '8.3', phpunit: 9, coverage: 'no' }

    services:
      mysql:
        image: mariadb:latest@sha256:f54db0cb3ccfe9431aba6d08c65a1763c499789b116b4cb651dd7fcf325965b3
        ports:
          - "3306:3306"
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MARIADB_INITDB_SKIP_TZINFO: 1
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress_test
    steps:
      - name: Check out source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get -y install subversion

      - name: Decide whether to enable coverage
        id: coverage
        run: |
          if [ "${{ matrix.config.coverage }}" = "yes" ]; then
            echo "::set-output name=coverage::pcov"
            echo '::set-output name=ini::pcov.directory=inc, pcov.exclude="~/(vendor|tests)/~"'
          else
            echo "::set-output name=coverage::none"
            echo "::set-output name=ini::opcache.enable_cli=1, opcache.jit=tracing, opcache.jit_buffer_size=64M"
          fi

      - name: Set up PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          coverage: ${{ steps.coverage.outputs.coverage }}
          ini-values: ${{ steps.coverage.outputs.ini }}
          php-version: ${{ matrix.config.php }}
        env:
          fail-fast: 'true'

      - name: Install PHPUnit
        run: |
          wget -q -O /usr/local/bin/phpunit "https://phar.phpunit.de/phpunit-${{ matrix.config.phpunit }}.phar"
          chmod +x /usr/local/bin/phpunit

      - name: Install dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Set up WordPress and WordPress Test Library
        uses: sjinks/setup-wordpress-test-library@2b1ad8408e173cec01cb22d53db8f855f0e36973 # v2.1.5
        with:
          version: ${{ matrix.config.wp }}

      - name: Set up multisite mode
        run: echo "WP_MULTISITE=1" >> $GITHUB_ENV
        if: matrix.config.ms == 'yes'

      - name: Verify MariaDB connection
        run: |
          while ! mysqladmin ping -h 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} --silent; do
            sleep 1
          done
        timeout-minutes: 1

      - name: Run tests
        run: |
          OPTIONS=
          if [ "${{ steps.coverage.outputs.coverage }}" != 'none' ]; then
            OPTIONS="$OPTIONS --coverage-clover=clover.xml"
          fi
          phpunit --order-by=random ${OPTIONS}

      - name: Upload coverage report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: clover.xml
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ steps.coverage.outputs.coverage != 'none' }}
